/* Reset spaziature default */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f6f8f9;
    /* background-color: red;              Usato solo per test */
}

/* Regole di stile per header */
header{
    background-color: white;
    padding: 15px;
}

h1{
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    font-size: 40px;
}

#logo{
    vertical-align: middle;
}
/* /Regole di stile per header */

/* Regole di stile per main */
.container{
    width: 800px;
    height: 800px;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: white;

}
/* /Regole di stile per main */


/* Regole di stile per i bottoni */
.user_service{
    margin-left: 40px;
}

button{
    color: grey;
    padding: 3px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px, 5px;
    margin-top: 20px;
    margin-bottom: 15px;

}

#add_t{
    color: white;
    border-color: #47adf1;
    background-color: #47adf1;
}

hr{
    border: 1px thick grey;
}
/* /Regole di stile per i bottoni */

/* Regole di stile per la todo-list */
.todo_list{
    margin: 40px;
}

.cascade_symbol{
    font-size: small;
    margin-right: 8px;
}

h3{
    display: inline-block;
    font-size: 22px;
}

ul{
    list-style-type: none;
}
li{
    margin-top: 10px;
    margin-bottom: 15px;
}

/* Regole per le check o wrong */
.check{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid;
    margin-right: 16px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
}

.__green{
    color: #75c9b6;
}

.__red{
    color: red;
}
/* /Regole per le check o wrong */

/* Regole per le label dei task */
.label{
    display: inline-block;
    color: white;
    font-size: x-small;
    border: 1px solid;
    border-radius: 10px;
    margin-left: 5px;
    padding: 5px 10px;
}

.__editorial{
    background-color: #45abea ;
}

.__Q1{
    background-color: #9c72e4 ;
}

.__recruiting{
    background-color: #64c0a9 ;
}

.__mobile{
    background-color: #f29e33 ;
}

.__web{
    background-color: #d863a1;
}

.__sales{
    background-color: #b0c926;
}
/* /Regole per le label dei task */
/* /Regole di stile per la todo-list */