/* Reset spaziature default */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    /* background-color: #f6f8f9; */
    background-color: red;              /*Usato solo per test */
}

header{
    background-color: white;
    padding: 15px;
}

h1{
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    font-size: 40px;
}

#logo{
    vertical-align: middle;
}