/* Reset spaziature default */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    /* background-color: #f6f8f9; */
    background-color: red;              /*Usato solo per test */
}

/* Regole di stile per header */
header{
    background-color: white;
    padding: 15px;
}

h1{
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
    font-size: 40px;
}

#logo{
    vertical-align: middle;
}
/* /Regole di stile per header */

/* Regole di stile per main */
.container{
    width: 700px;
    height: 700px;
    margin: 0 auto;
    margin-top: 10%;
    border-radius: 10px;
    background-color: white;

}
/* /Regole di stile per main */


/* Regole di stile per i bottoni */
.user_service{
    margin-left: 40px;
}

button{
    color: grey;
    padding: 3px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px, 5px;
    margin-top: 20px;
    margin-bottom: 15px;

}

#add_t{
    color: white;
    border-color: #47adf1;
    background-color: #47adf1;
}

hr{
    border: 1px thick grey;
}
/* /Regole di stile per i bottoni */

/* Regole di stile per la todo-list */
.todo_list{
    margin: 40px;
}

.cascade_symbol{
    font-size: small;
    margin-right: 8px;
}

h3{
    display: inline-block;
    font-size: 22px;
}

ul{
    list-style-type: none;
}

.check{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid;
    margin-right: 16px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
}

.__green{
    color: #75c9b6;
}

__red{
    color: red;
}


/* /Regole di stile per la todo-list */